*,
*:before,
*:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
    background-color: #1c1a21;
    color: #ffffff;
    overflow-x: auto;
}
.logo-image {
    height: 100%;
    width: auto;
    object-fit: contain;
}
.custom-gray-bg {
    background-color: #1c1a21;
}
.top-navigation-bg {
    background-color: transparent;
}
.top-navigation-text {
    color: #ffffff;
    margin-right: 1rem;
}
.main-header-text {
    color: #ffffff;
}
.carousel-text {
    color: #ffffff;
}
.latest-products-text {
    color: #ffffff;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #1c1a21;
    box-shadow: 0 4px 8px rgba(141, 137, 137, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 1;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: white;
}
.dropdown-menu a:hover {
    background-color: #2b2833;
}
#carousel-indicators {
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
}
.indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.indicator.active {
    background-color: #333;
}
.contact {
    color: #ccc;
    background-color: #0e0d11;
}